@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.content {
  max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;

  &__title {
    font-size: $typographic-base-font-size * 2;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    @include line-height(1.65);
    @include margin-top(1);
    @include margin-bottom(2);
  }

  &__subtitle {
    font-family: $typographic-secondary-font-family;
    font-size: $typographic-base-font-size * 1.6;
    font-weight: 400;
    color: $color-gray;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include margin-top(-2.5);
    @include margin-bottom(2);
  }

  &__body {
    & figure {
      @include margin-bottom(1);

      & blockquote {
        font-style: italic;
        text-align: center;
        margin-top: 0;
        @include padding(1, 0);

        & p {
          max-width: $layout-post-width;
          font-size: $typographic-base-font-size * 1.6817;
          margin-top: 0;
          @include margin-bottom(1);
          @include line-height(1.5);
        }
      }
    }

    & p {
      font-family: $typographic-secondary-font-family;

      & strong {
        font-weight: 700;
      }
    }

    & {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        a[class~='anchor'] {
          opacity: 0;
          &:hover,
          &:active,
          &:focus {
            border-bottom: none;

            & path {
              fill: $color-primary;
            }
          }
        }

        &:hover,
        &:active,
        &:focus {
          a[class~='anchor'] {
            opacity: 1;
          }
        }
      }
    }

    & a {
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        border-bottom: 1px solid $color-secondary;
      }
    }

    & * {
      max-width: $layout-post-width;
      margin-left: auto;
      margin-right: auto;
    }

    & img {
      max-width: 100%;
    }

    // :: table of contents ---

    & > ul:first-child {
      color: $color-secondary;
      padding-top: 1rem;
      padding-bottom: 0.6rem;
      border-bottom: 1px solid $color-gray-bg;
      border-top: 1px solid $color-gray-bg;
    }

    // :: code blocks ---
    & div[data-language] {
      margin: 0.5em -1em;
      padding: 1em;
      overflow: auto;
      max-width: unset;

      & pre[class*='language-'],
      & code[class*='language-'] {
        background-color: transparent;
        margin: 0;
        padding: 0;
        overflow: initial;
        float: left;
        min-width: 100%;
        max-width: unset;
      }
    }

    // :: image captions ---
    & img ~ em,
    & img ~ cite {
      margin-top: 0.2rem;
      font-size: 0.875rem;
      font-family: $typographic-font-family;
      line-height: 1.21rem;
      display: block;
      width: 100%;
      text-align: center;
    }

    & img ~ cite,
    & img ~ figcaption cite {
      color: lighten($color-gray, 18%);
      display: block;
    }

    & img + em {
      margin-top: 0.4rem;
    }

    // :: inline highlights ---
    & mark {
      background-color: unset;
      background-color: lighten($color-primary, 16%);
      padding-right: 0.3em;
      padding-left: 0.3em;
      transition: background-color 0.3s linear;

      &:hover {
        background-color: lighten($color-primary, 10%);
      }
    }

    // :: quotations ---
    & blockquote {
      & cite {
        color: $color-secondary;
        font-family: $typographic-font-family;
        font-size: 18px;
      }
    }

    & blockquote {
      font-style: italic;
      text-align: center;
      margin-top: 0;
      @include padding(1, 0);

      & p {
        max-width: $layout-post-width;
        font-size: $typographic-base-font-size * 1.6817;
        margin-top: 0;
        @include margin-bottom(1);
        @include line-height(1.5);
      }
    }
  }
}

@include breakpoint-sm {
  .content {
    &__body {
      & figure[class~='fluid'] {
        width: 100vw;
        max-width: unset;
        margin-right: -15px;
        margin-left: -15px;
      }
    }
  }
}

@include breakpoint-md {
  .content {
    padding: 0;

    &__title {
      font-size: $typographic-base-font-size * 3;
      @include line-height(2.25);
      @include margin-top(4.25);
      @include margin-bottom(4.5);
    }

    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);

      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        @include margin-bottom(1.125);
      }

      & div[data-language] {
        max-width: $layout-width;
        margin-left: auto;
        margin-right: auto;
      }

      & figure[class~='fluid'] {
        margin-right: unset;
        margin-left: unset;
        max-width: 945px;
      }
    }
  }
}
