@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.menu {
  @include margin-bottom(1);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      padding: 0;
      margin: 10px 0;

      &-link {
        font-size: $typographic-base-font-size;
        color: $typographic-base-font-color;
        font-weight: normal;
        border: 0;
        position: relative;

        &:hover,
        &:focus {
          color: $color-primary;
          border-bottom: 1px solid $color-primary;
        }

        &--active {
          color: $color-primary;

          &::before {
            content: ' ';
            display: block;
            position: absolute;
            left: -1em;
            top: 0.5em;
            background-color: $color-primary;
            width: 0.4em;
            height: 0.4em;
          }
        }
      }
    }
  }
}
